/card_default
/data
*.csv
*.json
.DS_Store
/notebooks/*.png
/notebooks/mlruns/
/mlruns/
.env
/mlartifacts
/notebooks/exploratory_data_analysis.ipynb
/notebooks/README
/notebooks/scratch_inference.ipynb