numpy
pandas
scikit-learn
xgboost
mlflow
requests
plotly[express]
matplotlib
nbformat
xlrd
shap
seaborn
python-dotenv
prometheus-fastapi-instrumentator==6.1.0

fastapi
uvicorn
pydantic
prometheus-client

pytest
httpx
